.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container {
  width: 400px;
  height: 400px;
  background-color: #ddd;
}

.image_container > img {
  max-width: 100%;
}
